/*와이드창*/
.container{
    background: #F8F9FA;    
}
/*헤더*/
/*  헤더 섹션 */
.site-title{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    box-sizing: border-box;

    /* White */

    background: #FFFFFF;
    /* Gray/Outline */

    border: 1px solid #DADCE0;
}
/* 로고 섹션 */
.logoBox{
    position: absolute;
    left: 1.39%;
    right: 92.3%;
    top: 16.67%;
    bottom: 15%;
}
/* 크루찾기 레이아웃 */
.searchBox{
    position: absolute;
    left: 80.73%;
    right: 10.36%;
    top: 20%;
    bottom: 20%;
}
/*GNB*/
.navBar{

}
/*크루 만들기 페이지*/
.crudBt{
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

position: absolute;
width: 52px;
height: 36px;
left: 882px;
top: 20px;

/* Green/Button */

background: #6C8F56;
border-radius: 8px;
border:none;
width: 52px;
height: 36px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 125% */

color: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
}


/*크루 만들기 글씨 위치*/
.createCrewText{
position: absolute;
width: 150px;
height: 36px;
left: 404px;
top: 115px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */


/* Black_Font */

color: #24272B;    
}

/*크루 만들기 box*/
.createCrewBox{
box-sizing: border-box;

position: absolute;
width: 960px;
height: 764px;
left: 400px;
top: 195px;

background: #FFFFFF;
border: 1px solid #DADCE0;
border-radius: 8px;    
}
/*제목 작성 firstBox*/
.firstBox{
position: absolute;
width: 480px;
height: 36px;
left: 30px;
top: 20px;
background: #FFFFFF;
border: 1px solid #DADCE0;
border-radius: 8px;  
}

/*두번째 박스*/
.secondBox{
box-sizing: border-box;

position: absolute;
width: 904px;
height: 328px;
left: 30px;
top: 70px;

background: #FFFFFF;
border: 1px solid #DADCE0;
border-radius: 8px;
}
/*대표사진 선택 box*/
.selectPic{
box-sizing: border-box;

position: relative;
width: 48px;
height: 48px;
left: 40px;
top: 50px;

background: #FFFFFF;
/* Gray/Outline */

border: 1px solid #DADCE0;
border-radius: 8px;
}
/*대표사진 text*/
.mainPhotoText{
position: absolute;
width: 88px;
height: 20px;
left: 20px;
top: 5px;
    
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #FF5656;    
}
/*대표사진 하단 이미지로고 크기*/
.imageLogoBox{
width: 23px;
height: 23px;
position:absolute;
margin: auto;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
}
/*이미지 파일선택 로고 변경*/
.input-file-button{
position: absolute;
width: 71px;
height: 24px;
left: 32px;
top: 108px;

/* Green/Button */

background: #6C8F56;
border-radius: 7px;

position: absolute;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 3px;
text-align: center;
line-height: 24px;
/* identical to box height, or 160% */


/* White */

color: #FFFFFF;

cursor: pointer;
}
/*원데이 클래스 오픈여부 box*/
.onedayClassBox{
position: absolute;
width: 170px;
height: 48px;
left: 18px;
top: 150px;  
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #24272B;   
}
/*원데이 크루 라디오버튼 커스텀*/
.radioBt{
    accent-color: #6C8F56;
    cursor: pointer;
    border:#6C8F56;
}

/*카테고리 큰 프레임*/
.categoryFrame{
position: absolute;
width: 600px;
height: 82px;
left:0px;
top:150px;
}
/*카테고리 영역 프레임*/
.categorySection{
    box-sizing: border-box;

    position: absolute;
    width: 600px;
    height: 46px;
    left: 0px;
    top: 80px;
    
    /* background: #FFFFFF; */
    border: 1px solid #DADCE0;
    border-radius: 8px;    

    padding-left: 10px;
}
.categoryText{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #FF5656;
}
.categoryBt{
left: 100px;
top: 200px;
/* Green/Hover */

background: #F1F2F3;
/* Green/Button */

border: 1.5px solid #6C8F56;
border-radius: 30px;
margin: 3px;
cursor:pointer;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Green/Button */
color: #B1B1B1;
border: 1.5px solid #B1B1B1;
}

/*소개글 양식 thirdBox*/
.thirdBox{
box-sizing: border-box;

position: absolute;
width: 904px;
height: 336px;
left: 30px;
top: 410px;
padding-left: 20px;
background: #FFFFFF;
border: 1px solid #DADCE0;
border-radius: 8px;
}

.textareaForm{
border:none;
resize:none;
width: 860px;
height: 250px;
}